Proyecto_Meteorologia/mysql-data/
Proyecto_Meteorologia/node_modules/
Proyecto_Meteorologia/Backend/laravel_recolectarDatos/storage/logs/laravel.logs
Proyecto_Meteorologia/Backend/laravel_EURISUN/storage/logs/laravel.logs